# Node modules
node_modules/
Backend/node_modules/
Frontend/node_modules/

# Environment files
.env
Backend/.env

# Build folders
dist/
Frontend/dist/

# Logs
*.log

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db